@page
@model PizzeriaPresentacion.Pages.menuModel
@{
     ViewData["Title"] = "Menu";
}
<div class="top">
    <img src="https://localhost:5001/imagenes/logo.jpeg" alt="" width="100px" height="100px">
    <p>Escoge tu especialidad<br><br></p>
</div>
<div class="row">
@foreach (var p in Model.listaProductos)
{
    
<div class="etiqueta_1">
     <div class="imgen">
          <input type="hidden" asp-for="@p.Id" >
          <a asp-route-productoId="@p.Id" asp-page="/HMI/carrito">
          <img src="@p.Url" alt="" width="250px" height="150px"><br>
          <input style="text-align:center;" type="label" asp-for="@p.Nombre" ><br>
          <input style="text-align:center;" type="label" asp-for="@p.Precio" >
          </a><br>
          <input style="text-align:center;" type="number" asp-for="producto.Cantidad" class="form control" placeholder="Cantidad">
     </div>
</div>
}
</div>


